extends template 
block content
  nav.navbar
    .navbar-links
        a(href='/logOut') Log out
        a(href='/main') Search
  #containerActivities.container
    h1 Favorites
        // סוג בילוי 1
    .activity
        each n in V2 
            h2=n.type
            .places
                each t in V1
                    if t.type==n.type 
                        .place
                            p(class="placeIDs", id="placeID1", name="placeID")=t.placeID
                            h3=t.placeName
                            a(href=t.link , target='_blank')
                                img(src=t.image , alt=t.placeName)
                            button.heart-button(class="filled", onclick='removeFavorite(this)', data-placeID=t.placeID)
                br